
@{
    ViewBag.Title = "inloggad";
}

@if (Session["AnvändarID"] != null)
{
    <h4> Hejsan @Session["Förnamn"].ToString()</h4>
    <div>
        @Html.ActionLink("gå med i grupp", "gåmedigrupp", "Grupp")
    </div>
    <div>
        @Html.ActionLink("mina uppgifter", "Redigera", "Konto")
    </div>
}

