@model Systemet.Models.ViewModels.GruppViewModel

<dt>
        @Html.DisplayNameFor(model => model.uppgift.Ansvarig)
    </dt>
    <dd>
        <p>
            @Html.DisplayFor(model => model.uppgift.Ansvarig.HelaNamnet)
        </p>
    </dd>