@model Systemet.Models.Grupp

@{
    ViewBag.Title = "bekräftagrupp";
}

<h2>Vill du gå med i @ViewBag.gruppen ?</h2>

@using (Html.BeginForm("blimedlemigrupp", "grupp", new { namnet = ViewBag.gruppen }))
{

    <input type="submit" value="gå med" />

}

