@model Systemet.Models.Grupp

@{
    ViewBag.Title = "gåmedigrupp";
}

<h2>Grupper:</h2>

@{
    var grupperna = TempData["allagrupper"];

    } 

@foreach (var item in Model )
    {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.GruppNamn)
    </tr>
}

