@model ICollection<Systemet.Models.Grupp>

@{
    TempData["användarID"] = Convert.ToInt32(Session["AnvändarID"]);
    ViewBag.Title = "gåmedigrupp";
}

<ol class="breadcrumb">
    <li>@Html.ActionLink("Startsidan", "inloggad", "Konto")</li>
    <li class="active">Sök Grupp</li>
</ol>

<h2>Grupper:</h2>

    @foreach (var item in Model)
    {
        <div class="row">
            <div class="col-lg-4">
                <div class="input-group pull-left">
                    <div class="container">
                        <a href="#@item.GruppID" class="btn btn-info" data-toggle="collapse">@item.GruppNamn</a>
                        <div id="@item.GruppID" class="collapse">

                            <h3>@item.beskrivning</h3>

                            @using (Html.BeginForm("SkickaAnsökan", "GruppFörfrågan", new { id = item.GruppNamn }))
                            {
                                <input type="submit" value="Ansök till Grupp" class="btn btn-lg btn-danger" id="ansökanknapp" style="font-size:x-large" />
                            }
                        </div>
                    </div>
                </div>

            <div class="col-lg-4">
                
            </div>
        </div>

            <div class="form-group">
                &nbsp;
            </div>
            </div>
<tr>
    <td></td>
</tr>

    }

@section Scripts{
<script>
        //AUTOCOMPLETE
        $(document).ready(function () {
            $('[data-toggle="popoversvar"]').popover();
        });
</script>






    


    }
