@model ICollection<Systemet.Models.Grupp>

@{
    ViewBag.Title = "gåmedigrupp";
}

<h2>Grupper:</h2>


@foreach (var item in Model)
{
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.GruppNamn)

        </td>
        <td>

    </tr>
}



