<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <ResourceId>/subscriptions/03d0d09d-1dd2-4ed8-972e-7e0c82b85753/resourcegroups/Systemet/providers/Microsoft.Web/sites/Systemet20170607061836</ResourceId>
    <ResourceGroup>Systemet</ResourceGroup>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://systemet20170607061836.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>systemet20170607061836.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>Systemet20170607061836</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$Systemet20170607061836</UserName>
    <_SavePWD>True</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="Systemet.Models.OurDBContext" Order="1" Enabled="True">
          <Destination Path="Data Source=tcp:systemet20170607061836dbserver.database.windows.net,1433;Initial Catalog=Systemet20170607061836_db;User ID=john@systemet20170607061836dbserver;Password=()ro0vi0u79" Name="" />
          <Object Type="DbCodeFirst">
            <Source Path="DBMigration" DbContext="Systemet.Models.OurDBContext, Systemet" MigrationConfiguration="Systemet.Migrations.Configuration, Systemet" Origin="Convention" />
          </Object>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="Systemet.Models.OurDBContext-Web.config Connection String">
      <ParameterValue>Data Source=tcp:systemet20170607061836dbserver.database.windows.net,1433;Initial Catalog=Systemet20170607061836_db;User ID=john@systemet20170607061836dbserver;Password=()ro0vi0u79</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="Systemet.Models.OurDBContext-Web.config Connection String">
      <ParameterValue>Data Source=tcp:systemet20170607061836dbserver.database.windows.net,1433;Initial Catalog=Systemet20170607061836_db;User Id=john@systemet20170607061836dbserver;Password=()ro0vi0u79</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
  <ItemGroup>
    <_ConnectionStringsToInsert Include="Systemet.Models.OurDBContext" />
  </ItemGroup>
</Project>